@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-black text-white box-border;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
 @apply bg-rose-800 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
 @apply bg-sky-500 rounded-xl;
}